---
import Button from "@ui/Button.astro";

// Content for the section title and subtitle
const title =
  'Elevate Your Safety and Compliance Standards. <br /> Partner with <span class="font-medium text-white">ECOS</span><span class="font-light text-white/90"> Consulting</span>.';
const subTitle =
  "Contact us today to discover how our integrated approach to safety and environmental compliance can help your organization achieve regulatory excellence while enhancing productivity.";

// Call-to-action configuration for the primary button
const primaryCTA = { text: "Get in Touch", href: "/contact" };
---

<section class="py-8 sm:py-12">
  <div class="mx-auto max-w-[85rem] px-4 sm:px-6 lg:px-8">
    <div class="mx-auto rounded-3xl bg-primary-950 p-8 py-16 sm:p-12 sm:py-20 lg:p-16 lg:py-24">
      <div class="mx-auto max-w-3xl text-center">
        <h2
          class="text-balance text-4xl text-white sm:text-5xl"
        >
          <Fragment set:html={title} />
        </h2>
        <p class="text-lg\/8 mt-6 text-pretty text-white/90 max-w-2xl mx-auto">
          {subTitle}
        </p>
        <div class="mt-8">
          <Button 
            href="/case-studies" 
            variant="primary"
            size="xl"
          >
            View All Case Studies
          </Button>
        </div>
      </div>
    </div>
  </div>
</section>