---
import Icon from "@ui/icons/Icon.astro";
import FeatureCard from "@common/FeatureCard.astro";
import Button from "@ui/Button.astro";

// Content for the section title and subtitle
const title = "Integrated Safety & Environmental Solutions";
const subTitle =
  "ECOS Consulting provides an integrated approach to safety and environmental compliance within work environments. We assist clients with the integration of safety, health and environment in the construction industry, real estate properties, technical plant and general working environments.";

// Call-to-action configuration for the tertiary button
const tertiaryCTA = { text: "Learn More", href: "/services" };
---

<section
  class="mx-auto max-w-[85rem] px-4 py- sm:px-6 md:py-14 lg:px-8 lg:py-0"
>
  <div
    class="relative isolate overflow-hidden rounded-3xl bg-primary-950 px-6 pt-16 sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 h-full w-full"
  >
   

    {/* Section content for title, subtitle, and button */}
    <div
      class="mx-auto my-auto max-w-md text-left sm:text-center lg:mx-0 lg:flex-auto lg:text-left"
    >
      <h2
        class="text-balance text-2xl font-medium tracking-tight text-white md:text-3xl md:leading-tight"
      >
        {title}
      </h2>
      <p class="mt-6 text-pretty text-lg/8 text-slate-400">
        {subTitle}
      </p>
      <div
        class="mt-10 flex items-center justify-start gap-x-6 sm:justify-center lg:justify-start"
      >
        <Button
          href={tertiaryCTA.href}
          variant="primary"
          className="group inline-flex items-center justify-center gap-x-2 py-2.5! pl-5 pr-4 text-slate-700"
          >{tertiaryCTA.text}<Icon name="chevronRight" /></Button
        >
      </div>
    </div>

    {/* Section's feature cards and connecting animations */}

    <div class="relative my-16 flex flex-col gap-y-7 lg:my-8 2xl:h-full">
      {/* First Feature Card */}

      <FeatureCard
        icon="dataBase"
        description="Compliance audits for environmental and safety requirements."
        styleClass=""
      />

      {/* First beam line SVG connecting feature cards visually */}

      <svg
        class="line-connector absolute z-0 hidden w-1/2 xl:left-[10%] xl:top-[25%] xl:block"
        viewBox="0 0 200 300"
      >
        <path
          class="base-line"
          d="M1 0.5V50C1 63.8071 12.1929 75 26 75H70"
          stroke="#FFFFFF"
          stroke-width="1"
          fill="transparent"></path>

        <path
          class="beam-line"
          d="M1 0.5V50C1 63.8071 12.1929 75 26 75H70"
          stroke="#fff"
          stroke-width="1"
          fill="transparent"></path>
      </svg>

      {/* Second Feature Card */}
      <FeatureCard
        icon="brain"
        description="Construction Health and Safety Management for safe project execution."
        styleClass="self-center"
      />

      {/* Second beam line SVG connecting feature cards visually */}

      <svg
        class="line-connector absolute hidden w-1/2 xl:left-[70%] xl:top-[55%] xl:block"
        viewBox="0 0 200 300"
      >
        <path
          class="base-line"
          d="M0.5 1.5H56C69.8071 1.5 81 12.6929 81 26.5V73"
          stroke="#F4F9FF"
          stroke-width="1"
          fill="transparent"></path>

        <path
          class="beam-line"
          d="M0.5 1.5H56C69.8071 1.5 81 12.6929 81 26.5V73"
          stroke="#5AAEAE"
          stroke-width="1"
          fill="transparent"></path>
      </svg>

      {/* Third Feature Card */}
      <FeatureCard
        icon="lightbulb"
        description="Environmental assessment and management to ensure sustainable operations."
        styleClass="self-end"
      />
    </div>
  </div>
</section>

<style>
  /* Styling for animated beam line connecting feature cards */
  .beam-line {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: beam-animation 5s ease-in-out infinite;
  }

  .line-connector:nth-of-type(2) .beam-line {
    animation-delay: 2.5s;
    animation-duration: 5s;
  }

  @keyframes beam-animation {
    0% {
      stroke-dashoffset: 200;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -200;
    }
  }
</style>