---
import Icon from "@ui/icons/Icon.astro";
import { servicesMenu } from "@/utils/megaMenu/services";

const sectionDescription =
  "Explore our range of services tailored to your needs";
const currentPath = Astro.url.pathname;
---

<div
  class="hs-dropdown [--adaptive:none] [--is-collapse:true] [--strategy:static] xl:[--is-collapse:false] xl:[--strategy:absolute] xl:[--trigger:hover]"
>
  <button
    id="mega-menu-services"
    type="button"
    class={`hs-dropdown-toggle flex w-full items-center rounded-lg p-2 font-medium text-slate-800 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden text-nowrap ${
      currentPath.startsWith("/services") ? "underline underline-offset-4" : ""
    }`}
    aria-haspopup="menu"
    aria-expanded="false"
    aria-label="Mega Menu Services"
  >
    Services <Icon name="arrowDownRight" />
  </button>

  <div
    class="hs-dropdown-menu relative start-0 top-full z-10 mt-2 hidden w-full opacity-0 transition-[opacity,margin] duration-150 before:absolute before:-top-5 before:start-0 before:h-5 before:w-full hs-dropdown-open:opacity-100"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="mega-menu-services"
  >
    <div
      class="from-teal-100 via-transparent to-white px-4 py-2 xl:mx-auto xl:w-auto xl:max-w-xs xl:rounded-lg xl:bg-white xl:bg-linear-to-t/oklch xl:px-6 xl:py-6 xl:shadow-lg xl:ring-1 xl:ring-teal-950/5"
    >
      <p class="text-sm text-slate-600 mb-3">
        {sectionDescription}
      </p>
      <hr class="mb-5 border-t border-slate-200" />

      <div class="flex flex-col">
        {servicesMenu.map((section) => (
          <div class="mb-5">
            <p class="text-base font-medium text-slate-700 mb-2">{section.sectionTitle}</p>
            
            <div class="flex flex-col space-y-1">
              {section.items.map((item) => (
                <a
                  class={`flex items-center gap-x-3 rounded-lg p-2 hover:bg-slate-100 focus:bg-slate-100 focus:outline-hidden group ${currentPath === item.href ? "bg-slate-50" : ""}`}
                  href={item.href}
                >
                  <Icon name={item.icon || "check"} class="size-5 flex-shrink-0 text-teal-600 group-hover:text-teal-700" />
                  <span class="text-sm font-medium text-slate-800">{item.title}</span>
                </a>
              ))}
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>